<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyager.mapper.TodayMapper">


    <insert id="addTODO">
        insert into today
            (id, user_id, tag_id, name, priority, status, create_time)
        values (#{id}, #{userId}, #{tagId}, #{name}, #{priority}, #{status}, #{createTime})
    </insert>

    <select id="queryTODO" resultType="Today">
        select * from today
                 where user_id = #{userId} and DATE(create_time) = #{localDate}
    </select>
</mapper>
