<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyager.mapper.TodayMapper">


    <insert id="add">
        insert into today
            (id, user_id, tag_id, name, priority, status, create_time)
        values (#{id}, #{userId}, #{tagId}, #{name}, #{priority}, #{status}, #{createTime})
    </insert>
    <update id="updateById">
        update today
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
